@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply bg-gradient-to-b from-rose-50 to-white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
button:hover {
  transition: all 0.3s ease-in-out;
}
